@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playpen+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kaushan+Script&display=swap');
:root{
    --font1: Arial, Helvetica, sans-serif;
    --font2:'Bebas Neue', sans-serif;
    --font3: 'Bebas Neue', sans-serif;
    --font4:  'Caveat', cursive;
}
*{
margin: 0px;
padding: 0px;

}
html body{
background-color: darkgray;
min-height: 100%;
font-family: var(--font1);


}
header{
    background-color: black;
    color: white;
    text-align: center;
    
    
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 50px;
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
    font-size: 3vw;
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
  
}
section p{
    padding-bottom: 2em;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font4);
    font-size: large;
}
section.normal{
    background-color: white;
    color: black;
    font-family: var(--font4);
    font-size: 30px;
   
    
}
section.imagem{
 background-image: url('imagens/background002.jpg');
background-position: center;
color: white;
display: inline-block;
padding-left: 30px;
font-family:var(--font4);
font-size: 4vw;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.566);
box-shadow: inset 6px 6px 10px 2px rgba(0, 0, 0, 0.301);
background-size: cover;
background-attachment: fixed;
}
{ 
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.527);
    width: 100vw;
   
}
footer{
    background-color: black;
    padding: 10px;
    
    
}
section#img01{
    background-image: url("imagens/background001.jpg");
    background-position: center;
    background-color: black;
    
   
}
    
  { 
}
section#img02{
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    
 }